<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta name="description" content="Advent Of Code" />
    <meta name="keywords" content="advent,code,aoc" />
    <meta name="author" content="Alex Hedley" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/sticky-footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
    <link rel="stylesheet" href="css/jquery-ui.1.12.1.min.css" />
    <link rel="stylesheet" href="css/pivot.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.css"> -->
    <link rel="stylesheet" href="css/styles.css" />

    <link rel="shortcut icon" href="favicon.ico" />
    <!-- <link rel="shortcut icon" href="images/favicon.png"/> -->

    <!-- Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'> -->

    <title>Advent Of Code</title>
  </head>
  <body ng-app="myApp">
    <!-- Begin page content -->
    <main role="main" class="container">
      <section class="jumbotron title-container text-center">
        <div>
          <h1>🎄 Advent Of Code 🎄</h1>

          <div class="row justify-content-md-center">
            <div class="col-lg-8">
              <div class="input-group search-bar">
                <input
                  type="text"
                  class="form-control"
                  ng-model="searchText"
                  placeholder="Search for a year..."
                  aria-label="Search"
                />
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <button class="btn btn-warning float-right" type="button" data-toggle="collapse" data-target="#image" aria-expanded="false" aria-controls="image">
            Show/Hide
        </button>
        <div class="collapse" id="image">
            <div class="row justify-content-md-center">
                <img src="images/.jpeg" width="500px" alt="Game" />
            </div>
        </div> -->

      <br />

      <div ng-controller="myController">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="">
              <table id="years">
                <thead>
                  <tr>
                    <th>Year</th>
                    <th>Description</th>
                    <!-- <th>Dates</th> -->
                    <th>Supporter</th>
                    <th>Silver</th>
                    <th>Gold ⭐</th>
                    <th>Total</th>
                    <!-- <th>Site</th> -->
                    <!-- <th>Repo</th> -->
                    <!-- <th>AoC Site</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="year in years | filter:searchText">
                    <td>{{year.name}}</td>
                    <td>{{year.description}}</td>
                    <!-- <td>{{year.startDate | date:'d MMM yyyy'}} - {{year.endDate | date:'d MMM yyyy'}}</td> -->
                    <td>{{year.supporter | supporter}}</td>
                    <td>{{year.stars.silver}}</td>
                    <td>{{year.stars.gold}}</td>
                    <td>{{year.stars.silver + (year.stars.gold * 2)}}</td>
                    <!-- <td>{{year.site}}</td> -->
                    <!-- <td>{{year.code}}</td> -->
                    <!-- <td>{{year.aoc_site}}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br />

          <div class="row">
            <div
              ng-repeat="year in years | filter:searchText"
              class="col-md-4"
              style="margin-bottom: 50px"
            >
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">{{year.name}}</h5>
                  <p class="card-text">{{year.description}}</p>
                  <p class="card-text">
                    {{year.startDate | date:'d MMM yyyy'}} - {{year.endDate |
                    date:'d MMM yyyy'}}
                  </p>
                  <p class="card-text">
                    <span
                      class="badge badge-secondary"
                      style="margin-left: 5px"
                      title="Silver"
                      >{{year.stars.silver}}</span
                    >
                    <span
                      class="badge badge-warning"
                      style="margin-left: 5px"
                      title="Gold"
                      >{{year.stars.gold}}</span
                    >
                    <span
                      ng-if="year.supporter == true"
                      class="badge badge-warning"
                      style="margin-left: 5px"
                      title="Supporter"
                      >++</span
                    >
                  </p>

                  <div class="btn-group">
                    <button
                      ng-click="OpenRepository(year)"
                      type="button"
                      class="btn btn-sm btn-success card-button"
                    >
                      <i class="fab fa-github"></i> View Code
                    </button>
                    <!-- <button ng-click="OpenRepositoryHomepage(year)" type="button" class="btn btn-sm btn-outline-success card-button">
                                        <i class="fas fa-globe-europe"></i>View Site
                                    </button> -->
                  </div>

                  <div class="btn-group">
                    <button
                      ng-click="OpenAoCHomepage(year)"
                      type="button"
                      class="btn btn-sm btn-success card-button"
                    >
                      <i class="fas fa-globe-europe"></i>View Site
                    </button>
                  </div>

                  <!-- <div class="card-topics-container">
                                    <div ng-repeat="topic in year.topics">
                                        <span class="badge badge-pill card-pill-primary" style="margin-left:5px;">{{topic}}</span>
                                    </div>
                                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"
          ><a href="https://alexhedley.github.io/" target="_blank"
            >Alex Hedley</a
          >.</span
        >
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="js/jquery-slim.min.js"><\/script>');
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- <script src="js/jquery-ui.1.12.1.min.js"></script> -->
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.pretty-text-diff.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <script src="js/angular.min.js"></script>
    <!-- <script src="js/angular-filter.js"></script> -->
    <script src="js/app.js"></script>
  </body>
</html>
